In [1]:
import pandas as pd

In [2]:
testCases = pd.read_sas('bl_testcases_200608.sas7bdat')

In [3]:
testCases

,newid,female0,racebpcog,age,gcp_bl,educ,gcp_slope,t_end,S,S_lower,S_upper
0,b'F231120aric',0.0,2.0,58.996578,53.57,3.0,-0.019506,1.0513,0.999751,0.999628,0.999874
1,b'J315626aric',1.0,1.0,69.544832,46.36,3.0,0.231811,1.0513,0.998316,0.997480,0.999152
2,b'3070824chs',1.0,1.0,66.881588,45.65,3.0,6.202899,1.0513,0.998655,0.997987,0.999323
3,b'4054563chs',0.0,2.0,92.902806,41.75,3.0,39.341317,1.0513,0.981383,0.972175,0.990678
4,b'2740311546fos',0.0,2.0,72.255305,48.03,4.0,2.786499,1.0513,0.998729,0.998101,0.999357
5,b'2740497395fos',1.0,2.0,65.764545,58.68,3.0,-1.180083,1.0513,0.999627,0.999444,0.999811